.header {
  height: auto;
  width: 100%;
}

.active-link {
  border-bottom: 2px solid currentColor;
  padding-bottom: 5px;
}

::ng-deep .mat-mdc-button {
  margin-right: 15px !important;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-and-tabs-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tabs-container {
  display: flex;
  align-items: center;
}

.black-icon mat-icon {
  color: black;
}

.black-text {
  color: black !important;
}

.company-logo {
  height: 70px;
  margin-right: 30px;
}

::ng-deep .mdc-button__label {
  font-size: 18px !important;
}

::ng-deep .mat-toolbar.mat-primary {
  background-color: #eeeeee !important;
}

::ng-deep .mat-toolbar.mat-accent {
  background-color: #eeeeee !important;
}

::ng-deep body {
  margin: 0 !important;
}
