<mat-toolbar color="primary" class="header">
  <div class="header-content">
    <div class="logo-container">
      <img src="../../../assets/img.png" alt="Company Logo" class="company-logo"/>
    </div>
    <div class="title-and-tabs-container">
      <h2 class="black-text" style="font-size: 1.5rem; margin-bottom: 10px;">CSE 598: Engineering Blockchain Applications</h2>
      <div class="tabs-container">
        <a mat-button class="black-text" routerLink="/project1" routerLinkActive="active-link">
          <mat-icon class="black-icon">assignment</mat-icon>
          Project 1
        </a>
        <a mat-button class="black-text" routerLink="/project2" routerLinkActive="active-link">
          <mat-icon class="black-icon">assignment</mat-icon>
          Project 2
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
