.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header-container {
  width: 100%;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.custom-card {
  width: 50em;
  height: 50em;
  max-width: 100%;
  box-sizing: border-box;
}

.p-field {
  margin-bottom: 20px;
}
